body{
    background-color: rgb(136, 210, 151);
}
h1{
    font-family:'Impact';
    font-size: 100px;
}
p{
    font-family: 'Helvetica';
    font-size: 50px;
}
.pictures{
    width: 200px;
    height: 200px;
    margin-right: 20px;
}
a{
    margin-right: 50px;
    margin-left: 50px;
}